//
//		Tables
//	___________________________________________________________________________

table {
	width: 100%;

	th {
		font-weight: bold;
	}

	.zebra tbody tr:nth-child(odd) {
		background: $lightGray;
	}

}



//	This is a duplication of the Grid as we can only define widths for tables
@include gridBuilder( t, 0 );
