
	// --- My Base Variables --- */

	$baseSize: 1.6;
	$baseLH: 1.5;
	$baseFamily: Helvetica, Arial, sans-serif;


	// --- The Grid --- */
	$columnName: 'col';
	$gridWidth: 1000;
	$gridNo: 10;
	$colLeft: 20;


	// --- Colors --- */

	$black: rgb(0,0,0);
	$white: rgb(255,255,255);

	$warningColor: rgb(200,0,0);

	$lightGray: rgb(230,230,230);
