#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


############
## NODE
############

node_modules


############
## SASS
############

.sass-cache


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## MAC
############

# Mac crap
.DS_Store

flucss-dev.scss
a
index.html
