html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
embed, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem; }

.left {
  float: left; }

.right {
  float: right;
  margin-right: 0.5%; }

/***
 * Grid:
 */
/**
 * Grid is built using the gridBuilder mixin, the width and columns are set
 * in settings.scss
 *
 * The col-# inside a row div can not be more than the $gridNo you have in your settings
 *
 *     @example
 *     div.row
 *       div.col-1 Col 1
 *       div.col-2 Col 2
 *       div.col-3 Col 3
 *       div.col-4 Col 4
 *
 *     div.row
 *       div.col-5 Col 5
 *       div.col-5 Col 5
 *
 *     div.row
 *       div.col-6 Col 6
 *       div.col-4 Col 4
 *
 *     div.row
 *       div.col-7 Col 7
 *       div.col-3 Col 3
 */
.container {
  margin: 0 auto;
  padding: 0 1%;
  text-align: left;
  width: 100%;
  max-width: 1000px; }

.row {
  display: inline-block;
  margin: 0 0 1.5% 0;
  width: 100%; }
  .row > [class^=col] {
    float: left;
    margin: 0 0 0 2%;
    padding: 1% 1% 1% 1%; }
    .row > [class^=col]:first-child {
      margin-left: 1%; }
  .row:last-of-type {
    margin-bottom: 0; }

.colcenter {
  margin: 0 auto; }

.col-1 {
  width: 8%; }

.col-2 {
  width: 18%; }

.col-3 {
  width: 28%; }

.col-4 {
  width: 38%; }

.col-5 {
  width: 48%; }

.col-6 {
  width: 58%; }

.col-7 {
  width: 68%; }

.col-8 {
  width: 78%; }

.col-9 {
  width: 88%; }

.col-10 {
  width: 98%; }

.col-3rd {
  width: 31.33333%; }

.col-qr {
  width: 23%; }

.col-full {
  width: 98%; }

.col-100 {
  width: 100%; }

/***
 * Navigation:
 */
/**
 * Nav:
 * `ul.nav` - Simple navigation styles
 *
 *     @example
 *     ul.nav
 *       li <a href="">Home</a>
 *       li <a href="">About</a>
 *
 */
/**
 * Nav:
 * `ul.nav-vertical` - Vertical Navigation
 *
 *     @example
 *     ul.nav-vertical
 *       li <a href="">Home</a>
 *       li <a href="">About</a>
 *
 */
.nav {
  display: inline-block;
  width: 100%; }
  .nav li {
    display: inline-block;
    list-style: none;
    margin: 0; }
  .nav-vertical li {
    display: list-item;
    list-style: none;
    margin: 0; }

img {
  color: #c80000;
  display: block;
  font-style: italic; }

.media {
  display: inline-block;
  margin: 1% 0 1% 0; }
  .media .left {
    margin-right: 2%; }
  .media .right {
    margin-left: 2%; }

form fieldset {
  display: inline-block; }

form label {
  float: left;
  margin: 0 2% 0 0; }

form .toplabels label {
  width: 100%; }

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  line-height: 1.5;
  padding: 1% 1% 1% 1%; }

form input[type="submit"] {
  -webkit-appearance: none; }
  form input[type="submit"]:hover {
    cursor: pointer; }

/***
 * Buttons:
 */
/**
 * Button:
 * `button` - Button stylings for default sbittons on the sitee
 *
 *     @example
 *     button Standard button
 */
/**
 * Button Link:
 * `a.button` - Need to style an a link the same as a button, just add button to
 * to the a link taf
 *
 *     @example
 *     <a href="http://flucss.com" class="button">flucss.com</a>
 */
/**
 * Form Buttons Button:
 * `input[type="submit"]` - Submit and Reset form buttons
 * Live it, love it.
 *
 *     @example
 *     <input type="submit" value="Submit" />
 */
button,
.button,
input[type='submit'],
input[type='reset'] {
  background: #eaeaea;
  border: 1px solid #d2d2d2;
  color: black;
  display: inline-block;
  line-height: 1.5;
  margin: 1% 0 1% 0;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  font-size: 1.3rem;
  border-radius: 5px; }
  button:hover,
  .button:hover,
  input[type='submit']:hover,
  input[type='reset']:hover {
    background: white;
    cursor: pointer; }

a.button {
  text-decoration: none; }

/***
 * Tables:
 */
/**
 * Table:
 * `table` - Tables get a bad name in web development, but you can not get
 * away from them for the good tabular data outputs
 *
 *     @example
 *	<table>
 *    <thead>
 *			<tr>
 *    		<th>Table Header</th>
 *    		<th>Table Header</th>
 *  		</tr>
 *  	</thead>
 *		<tbody>
 *	    <tr>
 *      	<td>Cell</td>
 *    	  <td>Cell</td>
 *  	  </tr>
 * 	   <tr>
 *      	<td>Cell</td>
 *      	<td>Cell</td>
 *    	</tr>
 *  	</tbody>
 *	</table>
 */
/**
 * Zebra Table:
 * `table.zebra` - What's better than a plain table, a zebra stripe table
 *
 *     @example
 * <table class="zebra">
 *    <thead>
 *      <tr>
 *        <th>Table Header</th>
 *        <th>Table Header</th>
 *      </tr>
 *    </thead>
 *    <tbody>
 *      <tr>
 *        <td>Cell</td>
 *        <td>Cell</td>
 *      </tr>
 *     <tr>
 *        <td>Cell</td>
 *        <td>Cell</td>
 *      </tr>
 *     <tr>
 *        <td>Cell</td>
 *        <td>Cell</td>
 *      </tr>
 *     <tr>
 *        <td>Cell</td>
 *        <td>Cell</td>
 *      </tr>
 *    </tbody>
 *  </table>
 */
table {
  width: 100%; }
  table th,
  table td {
    border: 1px solid #eaeaea;
    padding: 1% 1% 1% 1%; }
  table th {
    border-bottom: 2px solid #d2d2d2;
    font-weight: bold; }
  table.zebra tbody tr:nth-child(odd) {
    background: #eaeaea; }
  table.zebra tbody tr:nth-child(even) {
    background: white; }

.t-1 {
  width: 10%; }

.t-2 {
  width: 20%; }

.t-3 {
  width: 30%; }

.t-4 {
  width: 40%; }

.t-5 {
  width: 50%; }

.t-6 {
  width: 60%; }

.t-7 {
  width: 70%; }

.t-8 {
  width: 80%; }

.t-9 {
  width: 90%; }

.t-10 {
  width: 100%; }

.t-3rd {
  width: 33.33333%; }

.t-qr {
  width: 25%; }

.t-full {
  width: 100%; }

.t-100 {
  width: 100%; }

/***
 * Headings:
 */
/**
 * Heading 1:
 * `h1` - The main heading for all pages
 *
 *     @example
 *     h1 A huge heading
 *     p.h1 A p with .h1 class
 *
 */
/**
 * Heading 2:
 * `h2`
 *
 *     @example
 *     h2 Heading 2
 *     p.h2 A p with .h2 class
 *
 */
/**
 * Heading 3:
 * `h3`
 *
 *     @example
 *     h3 Heading 3
 *     p.h3 A p with .h3 class
 *
 */
/**
 * Heading 4:
 * `h4`
 *
 *     @example
 *     h4 Heading 4
 *     p.h4 A p with .h4 class
 */
/**
 * Heading 5:
 * `h5`
 *
 *     @example
 *     h5 Heading 5
 *     p.h5 A p with .h5 class
 */
/**
 * Heading 6:
 * `h6`
 *
 *     @example
 *     h6 Heading 6
 *     p.h6 A p with .h6 class
 */
h1,
.h1 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 900; }

h2,
.h2 {
  font-size: 24px;
  font-size: 2.4rem; }

h3,
.h3 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700; }

h4,
.h4 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700; }

h5,
.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700; }

h6,
.h6 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700; }

.h-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0 0 0.5em 0; }

/***
 * Content:
 */
/**
 * Paragraph:
 * `p` - The "paragraph" tag, more than likely the most used tag on a page
 *
 *     @example
 *     p Rather than just a big block of lorem ipsum, I have wrote a whole lot of nothing, that makes no sense what so ever.
 */
p {
  margin: 0 0 0.5em 0; }

/**
 * Center Text:
 * `.center`
 *
 *     @example
 *     p.center Want to just center some text, use the center class
 */
.center {
  text-align: center; }

/**
 * Link:
 * `a` - The a link
 *
 *     @example
 *     <a href="http://flucss.com">flucss.com</a>
 */
a {
  color: #0000c8; }
  a:hover {
    cursor: pointer; }

/**
 * Blockquote:
 * `blockquote` - Blockquote
 *
 *     @example
 *     <blockquote>
 *       when this baby hit's 88mph, you're going see some serious...
 *     </blockquote>
 */
blockquote {
  margin: 1% 0 2% 5%;
  padding: 1% 1% 1% 1%;
  width: 85%; }

/**
 * Strong:
 * `strong` - Pretty much means makes something bold
 *
 *     @example
 *     p I am
 *       strong strong
 */
strong {
  font-weight: bold; }

/**
 * sup:
 * `sup` - Sup(pper)
 *
 *     @example
 *     p This is
 *			sup Supper
 */
/**
 * sub:
 * `sub` - sub(er)
 *
 *     @example
 *     p This is
 *			sub Sub
 */
sup,
sub {
  font-size: 8px;
  font-size: 0.8rem; }

/**
 * abbr:
 * `abbr` - abbr
 *
 *     @example
 *     p This is an
 *			abbr abbrivation
 */
abbr {
  border-bottom: 1px dotted #323232; }
  abbr:hover {
    cursor: help; }

/***
 * Lists:
 */
/**
 * Unordered Lists:
 * `ul` - Unordered List
 *
 *     @example
 *     ul
 * 			li A simple list
 */
ul li,
ol li {
  margin: 0 0 0 25px; }

/**
 * No style:
 * `ul.nolistitem` - List's with no bullet style
 *
 *     @example
 *     ul.nolistitem
 * 			li A simple list
 */
.nolistitem li {
  list-style: none;
  margin: 0; }

/**
 * Dics:
 * `ul.disc` - Dics list bullet
 *
 *     @example
 *     ul.didc
 * 			li A simple list
 */
.disc li {
  list-style: disc; }

/**
 * Square:
 * `ul.square` - Square list bullet
 *
 *     @example
 *     ul.square
 * 			li A simple list
 */
.square li {
  list-style: square; }

/**
 * Circle:
 * `ul.circle` - Cirle list bullet
 *
 *     @example
 *     ul.circle
 * 			li A simple list
 */
.circle li {
  list-style: circle; }

/**
 * Leading Zero:
 * `ul.leadingzero` - Decimal with a leading zero
 *
 *     @example
 *     ul
 * 			li A simple list
 */
.leadingzero li {
  list-style: decimal-leading-zero; }

/**
 * Roman:
 * `ul.roman` - Going back in time
 *
 *     @example
 *     ul.roman
 * 			li A simple list
 */
.roman li {
  list-style: lower-roman; }

.i,
.is {
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 0.5% 0 0.5%;
  position: relative;
  vertical-align: middle; }

.row > [class^=col] {
  background: #e6e6e6; }
  @media (max-width: 30em) {
    .row > [class^=col] {
      /*background: red;*/ } }
