
html {
	font-size: 62.5%;
}

body {
	font-family: $baseFamily;
	line-height: $baseLH;
	margin: 0 auto;
	text-align: center;
	@include fontSize();
}


.left {
	float: left;
}

.right {
	float: right;
	margin-right: 0.5%;
}
