/***
 * Headings:
 */

/**
 * Heading 1:
 * `h1` - The main heading for all pages
 *
 *     @example
 *     h1 A huge heading
 *     p.h1 A p with .h1 class
 *
 */
/**
 * Heading 2:
 * `h2`
 *
 *     @example
 *     h2 Heading 2
 *     p.h2 A p with .h2 class
 *
 */
/**
 * Heading 3:
 * `h3`
 *
 *     @example
 *     h3 Heading 3
 *     p.h3 A p with .h3 class
 *
 */
/**
 * Heading 4:
 * `h4`
 *
 *     @example
 *     h4 Heading 4
 *     p.h4 A p with .h4 class
 */
/**
 * Heading 5:
 * `h5`
 *
 *     @example
 *     h5 Heading 5
 *     p.h5 A p with .h5 class
 */
/**
 * Heading 6:
 * `h6`
 *
 *     @example
 *     h6 Heading 6
 *     p.h6 A p with .h6 class
 */
h1,
.h1 {
	@include fontSize(2.8);
	font-weight: 900;
}

h2,
.h2 {
	@include fontSize(2.4);
}

h3,
.h3 {
	@include fontSize(2);
	font-weight: 700;
}

h4,
.h4 {
	@include fontSize(1.8);
	font-weight: 700;
}

h5,
.h5 {
	@include fontSize(1.6);
	font-weight: 700;
}

h6,
.h6 {
	@include fontSize(1.4);
	font-weight: 700;
}

.h-header {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 0 0 0.5em 0;
}



/***
 * Content:
 */



/**
 * Paragraph:
 * `p` - The "paragraph" tag, more than likely the most used tag on a page
 *
 *     @example
 *     p Rather than just a big block of lorem ipsum, I have wrote a whole lot of nothing, that makes no sense what so ever.
 */
p {
	margin: 0 0 0.5em 0;
}


/**
 * Center Text:
 * `.center`
 *
 *     @example
 *     p.center Want to just center some text, use the center class
 */
.center {
	text-align: center;
}



/**
 * Link:
 * `a` - The a link
 *
 *     @example
 *     <a href="http://flucss.com">flucss.com</a>
 */
a {
	color: $primaryLinkColor;

	&:hover {
		cursor: pointer;
	}
}



/**
 * Blockquote:
 * `blockquote` - Blockquote
 *
 *     @example
 *     <blockquote>
 *       when this baby hit's 88mph, you're going see some serious...
 *     </blockquote>
 */
blockquote {
	margin: 1% 0 2% 5%;
	padding: 1% 1% 1% 1%;
	width: 85%;
}



/**
 * Strong:
 * `strong` - Pretty much means makes something bold
 *
 *     @example
 *     p I am
 *       strong strong
 */
strong {
	font-weight: bold;
}



/**
 * sup:
 * `sup` - Sup(pper)
 *
 *     @example
 *     p This is
 *			sup Supper
 */
/**
 * sub:
 * `sub` - sub(er)
 *
 *     @example
 *     p This is
 *			sub Sub
 */
sup,
sub {
	@include fontSize(0.8);
}



/**
 * abbr:
 * `abbr` - abbr
 *
 *     @example
 *     p This is an
 *			abbr abbrivation
 */
abbr {
	border-bottom: 1px dotted rgb(50, 50, 50);

	&:hover {
		cursor: help;
	}

}



/***
 * Lists:
 */



/**
 * Unordered Lists:
 * `ul` - Unordered List
 *
 *     @example
 *     ul
 * 			li A simple list
 */
ul li,
ol li {
	margin: 0 0 0 25px;
}

/**
 * No style:
 * `ul.nolistitem` - List's with no bullet style
 *
 *     @example
 *     ul.nolistitem
 * 			li A simple list
 */
.nolistitem li {
	list-style: none;
	margin: 0;
}

/**
 * Dics:
 * `ul.disc` - Dics list bullet
 *
 *     @example
 *     ul.didc
 * 			li A simple list
 */
.disc li {
	list-style: disc;
}

/**
 * Square:
 * `ul.square` - Square list bullet
 *
 *     @example
 *     ul.square
 * 			li A simple list
 */
.square li {
	list-style: square;
}

/**
 * Circle:
 * `ul.circle` - Cirle list bullet
 *
 *     @example
 *     ul.circle
 * 			li A simple list
 */
.circle li {
	list-style: circle;
}

/**
 * Leading Zero:
 * `ul.leadingzero` - Decimal with a leading zero
 *
 *     @example
 *     ul
 * 			li A simple list
 */
.leadingzero li {
	list-style: decimal-leading-zero;
}

/**
 * Roman:
 * `ul.roman` - Going back in time
 *
 *     @example
 *     ul.roman
 * 			li A simple list
 */
.roman li {
	list-style: lower-roman;
}




//
//		7. Icons
//	___________________________________________________________________________
//
//	Icons that can be used within Navigation elements, or within text elements
//
//	They can either be sprites (.is) or just a normal icon (.i)
//


.i,
.is {
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0 0.5% 0 0.5%;
	position: relative;
	vertical-align: middle;
}
