/***
 * Grid:
 */

/**
 * Grid is built using the gridBuilder mixin, the width and columns are set
 * in settings.scss
 *
 * The col-# inside a row div can not be more than the $gridNo you have in your settings
 *
 *     @example
 *     div.row
 *       div.col-1 Col 1
 *       div.col-2 Col 2
 *       div.col-3 Col 3
 *       div.col-4 Col 4
 *
 *     div.row
 *       div.col-5 Col 5
 *       div.col-5 Col 5
 *
 *     div.row
 *       div.col-6 Col 6
 *       div.col-4 Col 4
 *
 *     div.row
 *       div.col-7 Col 7
 *       div.col-3 Col 3
 */
@if global-variable-exists(enableGrid) and $enableGrid {

	.container {
		margin: 0 auto;
		padding: 0 ceil( percentage( $colLeft / $gridWidth / $gridNo ) );
		text-align: left;
		width: 100%;
		max-width: #{$gridWidth}px;
	}

	.row {
		display: inline-block;
		margin: 0 0 1.5% 0;
		width: 100%;

		& > [class^=#{$columnName}] {
			float: left;
			margin: 0 0 0 percentage( $colLeft / $gridWidth );

			@if global-variable-exists(gridPadding) and $gridPadding {
				padding: $padding;
			}

			&:first-child {
				margin-left: percentage( $colLeft / $gridWidth / 2 );
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.colcenter {
		margin: 0 auto;
	}



	@include gridBuilder;

}
