//
//		Media
//	___________________________________________________________________________
//

img {
	color: $warningColor;
	display: block;
	font-style: italic;
}

.media {
	display: inline-block;
	margin: 1% 0 1% 0;

	.left {
		margin-right: 2%;
	}

	.right {
		margin-left: 2%;
	}

}
