//
//		Functions
//	___________________________________________________________________________



//
//		Grid Builder
//	___________________________________________________________________________

@mixin gridBuilder( $colName:$columnName, $left:$colLeft ) {

	$x: ( $gridWidth / $gridNo );
	$marginLeft: $left / $gridWidth;

	@for $i from 1 through $gridNo {

		$w: ( $x * $i / $gridWidth );

		.#{$colName}#{$i} {
			width: percentage( $w - $marginLeft );
		}

	}

	.#{$colName}3rd {
		$w: ( $gridWidth / 3 / $gridWidth );

		width: percentage( $w - $marginLeft );
	}

	.#{$colName}qr {
		$w: ( $gridWidth / 4 / $gridWidth );

		width: percentage( $w - $marginLeft );
	}

}



//
//		Font Size
//	___________________________________________________________________________

@mixin fontSize( $size:$baseSize ) {
	font-size: ($size * 10 ) + px;
	font-size: $size + rem;
}
